    name: Scheduled Heartbeat Script

    on:
      schedule:
        # Runs at 2:30 PM UTC every weekday (Monday through Friday)
        # This corresponds to 9:30 AM EST
        - cron: '30 14 * * 1-5' 
      # Allows manual triggering of the workflow
      workflow_dispatch:

    jobs:
      run_script:
        runs-on: ubuntu-latest
        environment: env1
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.x' # Specify your desired Python version

          - name: Install dependencies
            run: pip install -r requirements.txt # Only if you have a requirements.txt

          - name: Run heartbeat script
            run: python tradier_heartbeat_nosound.py # Replace main.py with your script's name
            env: 
              PYTHONUNBUFFERED: true
              TRADIER_ACCESS_TOKEN: ${{ secrets.TRADIER_ACCESS_TOKEN }}
              TRADIER_ACCOUNT_ID: ${{ secrets.TRADIER_ACCOUNT_ID }}
              SMTP_HOST: ${{ secrets.SMTP_HOST }}
              SMTP_USER: ${{ secrets.SMTP_USER }}
              SMTP_PASS: ${{ secrets.SMTP_PASS }}
              EMAIL_FROM: ${{ secrets.EMAIL_FROM }}
              EMAIL_TO: ${{ secrets.EMAIL_TO }}